<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar cliente</h1>
        </div>
        <div class="card-body">
           <form action="/clientes/update/<%= cliente.id %>" method="POST">
            <label>Nome do cliente: </label>
            <input type="text" name="nome" id="nome" value="<%= cliente.nome %>" placeholder="Digite o nome do cliente" class="form-control" required>

            <label>Cpf do cliente: </label>
            <input type="text" name="cpf" id="cpf" value="<%= cliente.cpf %>" placeholder="Digite o cpf do cliente" class="form-control" required>
            
           
              
           <label>Endereço do cliente: </label>
           <input type="text" name="endereco" id="endereco" value="<%= cliente.endereco %>" placeholder="Digite o endereço do cliente" class="form-control" required>
           <br>
           <input type="hidden" name="id" value="<%= cliente.id %>">
          <input type="submit" class="btn btn-warning" value="Alterar" onclinck="return confirm('Cornfirma as alterações realizadas para o cliente <%= cliente.nome %>?')">
        </form>
             <hr>

          
        </div>
    </div>
</div>
<br>


<%- include ('partials/footer.ejs')%>