<%- include ('partials/navbar.ejs')%> <%- include ('partials/header.ejs')%>

<H1>Olá <%= cliente %> Seja Bem-Vindo! </H1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Endereço</th>
    </tr>
  </thead>
  <tbody>
    <% clientes.forEach(cliente => { %>
    <tr>
      <td><%= cliente.nome %></td>
      <td><%= cliente.cpf %></td>
      <td><%= cliente.endereco %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include ('partials/footer.ejs')%>
